header.header
    .header__coluimn
        a(href=routes.home)
            i.fab.fa-youtube
    .header__coluimn
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) login
    